.wrapper {
	padding: 60px 0px;
	display: flex;
	width: 60%;
	margin: auto;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-evenly;
}

.title {
	font-size: 1.5rem;
	color: brown;
}

.search-box {
	display: flex;
	align-items: center;
	flex-direction: column;
	padding: 10px;
}

.search-input {
	padding: 8px;
	border: 1px solid #ccc;
	border-radius: 4px;
	font-size: 16px;
	outline: none;
	width: 200px;
	margin: 10px;
}

.search-input::placeholder {
	color: #aaa;
}
